*.json
*.ipynb_checkpoints
*.pkl
*.pyc
*.DS_Store
sandbox
app/static/img/bird.jpg
app/static/img/shard/
collections/
data/
images/not_on_git/
plots/
research/
src/not_in_use/
not_on_git/
images/app_screenshot.tiff
images/example_output.png
images/example_output.tiff
images/linear_discriminant_project.png
images/linear_discriminant_project.tiff
images/random_forest_projection.png
images/random_forest_projection.tiff
