#recommender_image {
  max-height: 400px
}

#container {
  padding-top: 0px
}

th, td {
    text-align: center
    padding: 2px
    border-spacing: 0px 5px;
}

.tb-left {
  text-align: center
  color: #42DCA3;
}

img.recommender_image{
    width:100%;
    max-width:450px;
    max-height: 400px;
}

ul.likedimages {
  white-space: nowrap;
}

ul.likedimages, li.likedimages {
  list-style: none;
  display: inline;
}

.cover-container {
    height: 180px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}
