#recommender_image {
  max-height: 400px
}

#container {
  padding-top: 0px
}

th, td {
    text-align: center
    padding: 2px
    border-spacing: 0px 5px;
}

.tb-left {
  text-align: center
  color: #42DCA3;
}

img.recommender_image{
    width:100%;
    max-width:450px;
    max-height: 400px;
}

ul.likedimages {
  white-space: nowrap;
  list-style: none;
  display: table-row;

}

li.likedimages {
  list-style: none;
  display: table-cell;
  vertical-align: top;
}

.cover-container {
    height:300px;
    width: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    height: 10px;
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #808080;
    border-radius: 5px;
}

.cover-item {
    position: relative;
    display: inline-block;
    margin: 8px 8px;
    box-shadow: 2px 2px 4px #bbb;
    border-top-right-radius: 4px;
    width: 116px;
    height: 158px;
    vertical-align: bottom;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-grid {
	margin: 1em auto;
	max-width: 1106px;
	text-align: center;
}

.photo-grid li {
	display: inline-block;
	margin: 1em;
	width: 289px;
}

.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}

.photo-grid figure {
	height: 163px;
	overflow: hidden;
	position: relative;
	width: 289px;
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.photo-grid figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	vertical-align: middle;
}

.photo-grid li:hover figcaption {
	opacity: 1;
}

.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

.photo-grid figcaption {
	background: rgba(0,0,0,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}
